.native_link {
  background: var(--primary);
  color: var(--heading);
  font-size: var(--fs-sm);
  font-weight: 500;
  padding: 1rem 1.25rem;
  border-radius: 40px;;
}
.native_link-pulse {
  margin:100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}



.native_link-pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--primary-lighter);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px var(--primary);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 var(--primary-lighter);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px var(--primary);
      box-shadow: 0 0 0 10px var(--primary);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 var(--primary);
      box-shadow: 0 0 0 0 var(--primary);
  }
}