.blog {
  margin: 44px 0;
  padding: 0 24px;
  display: grid;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.blog__title {
  font-size: var(--fs-md);
}

.blog__article__title {
  font-size: var(--fs-sm);
}

.blog__article__created_at {
  font-size: var(--fs-xsm);
  color: var(--heading);
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.blog__article__description{
  color: var(--heading)
}
