.experiences {
  margin: 90px auto;
  padding: 1.5rem;
  gap: 2rem;
  display: grid;
}

.experiences__title {
  font-size: var(--font-size-xsm);
  font-weight: 500;

}

.experiences__list {
  display: grid;
  gap: 70px
}

.experiences__list li {
  display: grid;
  gap: 1rem
}

.experiences__list-title {
  font-size: var(--font-size-md);
  font-weight: 500;
  font-family: var(--ff-heading);
}
.experiences__list-location {
  font-size: var(--font-size-sm);
  font-weight: 400;
}

.experiences__list-position {
  font-size: var(--font-size-sm);
  font-weight: 500;
}

.experiences__list-description {
  margin-top: 1.1rem
}

.experiences__list-date {
  font-size: var(--font-size-sm);
  font-weight: 400;
}

.experiences__list-index {
  font-size: var(--font-size-xsm);
  font-weight: 500;
  display: inline-block;
  min-width: max-content;
}

@media (min-width: 762px) {
  .experiences {
    grid-template-columns: 16.6% 1fr;
  }

  .experiences__list-title {
    font-size: var(--font-size-lg);
  }
}