.above {
  margin: 150px auto;
  display: grid;
  padding: 1.5rem;
}

.above__title {
  font-size: 3.75rem;
  font-weight: 500;
}

@media (min-width: 762px) {
  .above div  {
    max-width: 66%;
  }
} 
