.above {
  margin: 90px auto;
  display: grid;
  padding: 1.5rem;
}

.above__title {
  font-family: var(--font-roboto-serif);
  font-size: var(--font-size-xlg);
}

@media (min-width: 762px) {
  .above div  {
    max-width: 66%;
  }
}
