.slogan {
  background-color: var(--heading);
  padding: 150px 24px; 
}
.slogan__message {
  font-size: var(--font-size-lg);
  font-weight: 400;
  color: #fff;
}

@media (min-width: 762px) {
  .slogan__message {
    font-size: var(--font-size-xlg);
  }
}